本项目是一个位于加州的建筑设计公司的网站，主要用于展示公司的建筑设计作品，并提供在线咨询服务。
本项目在开发的时候，需要根据以前公司网站图片，一步一步重建网站，并添加新的功能和优化。
本项目的在开发的时候，所有图片默认先用色块来占位，等后期图片到位后，再替换色块。但是图片的名字需要根据图片出现的先后顺序用数字命名，方便以后快速替换。
本项目采用 nextjs 开发，使用 tailwindcss 进行样式管理，使用 pnpm, 主要是静态网站，但是需要有适量动画效果。
本项目表单使用 formspree 进行管理。
本项目需要有响应式设计，以便在不同设备上都能正常显示。
请将页面的所有组件尽量集中在页面内，客户端组件可以放在 components 文件夹内，方便管理。
网页为全英文设计，布局采用 tailwind css 中的 container 布局。
公司名是 cecilia home, 网址是 cecilia123.com, 公司地址是 1816 Enclave Place Concord CA 94519, 公司电话是 (510)909-1933, 公司邮箱是 conatact@ceciliahome.net。